@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-cyan: hsl(158, 36%, 37%);
  --dark-cyan: hsl(158, 45%, 20%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cream);
  min-height: 100vh;
}

p {
  font-size: 0.88rem;
  color: var(--dark-grayish-blue);
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 21.56rem;
  margin: auto;
  background-color: var(--white);
  border-radius: 0.66rem;
}

.product-card img {
  border-top-left-radius: 0.66rem;
  border-top-right-radius: 0.66rem;
  width: 100%;
}

.product-card-details {
  padding: 1.56rem;
}

.product-category {
  letter-spacing: 0.2rem;
  margin-bottom: 0.31rem;
}
.product-text h1 {
  font-family: "Fraunces", sans-serif;
  font-size: 2rem;
  margin-bottom: 0.66rem;
}

.product-text p {
  margin-bottom: 0.66rem;
  line-height: 1.5rem;
}

.product-price {
  margin: 0.7rem 0;
  display: flex;
  align-items: center;
}

.product-discount-price {
  font-family: "Fraunces", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--light-cyan);
  margin-right: 0.66rem;
}

.product-original-price {
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
  margin-left: 0.66rem;
  font-size: 0.94rem;
}

.cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-cyan);
  border: none;
  width: 100%;
  color: var(--white);
  font-weight: 700;
  border-radius: 0.66rem;
  padding: 0.94rem 3.12rem;
}

.cart-btn img {
  width: 10%;
  margin-right: 0.25rem;
}

.cart-btn span {
  margin-left: 0.25rem;
}
.attribution {
  font-size: 0.7rem;
  text-align: center;
  margin: 0.66rem 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 800px) {
  .product-card {
    width: 34rem;
    flex-direction: row;
    justify-content: center;
  }
  .product-card > * {
    flex: 1;
  }
}
